body {
  text-align: center;
  background-color: #F0F0F0;
}

#main {
  margin-top: 15em;
}

.hidden {
  display:none;
}

input {
  margin: .3em;
}

button#submit {
  margin: 2.5em;
}

#input-buttons {
  margin-top: 2em;
}